<a href="https://colab.research.google.com/github/ahvblackwelltech/DS-Unit-4-Sprint-1-NLP/blob/main/module2-vector-representations/Ahvi_Blackwell_LS_DS_412_Vector_Representations_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>

# Vector Representations
## *Data Science Unit 4 Sprint 2 Assignment 2*

In [ ]:
import re
import string

from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import spacy

from bs4 import BeautifulSoup

import requests
from spacy.tokenizer import Tokenizer
from nltk.stem import PorterStemmer
from sklearn.neighbors import NearestNeighbors
import seaborn as sns
# import squarify

In [ ]:
# Import job_listings.csv

url = 'https://raw.githubusercontent.com/ahvblackwelltech/DS-Unit-4-Sprint-1-NLP/main/module2-vector-representations/data/job_listings.csv'
df = pd.read_csv(url)
df.head()

   Unnamed: 0  ...                         title
0           0  ...               Data scientist
1           1  ...              Data Scientist I
2           2  ...  Data Scientist - Entry Level
3           3  ...                Data Scientist
4           4  ...                Data Scientist

[5 rows x 3 columns]

In [ ]:
# Dropping Unnamed: 0 
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df.head()

                                         description                         title
0  b"<div><div>Job Requirements:</div><ul><li><p>...               Data scientist
1  b'<div>Job Description<br/>\n<br/>\n<p>As a Da...              Data Scientist I
2  b'<div><p>As a Data Scientist you will be work...  Data Scientist - Entry Level
3  b'<div class="jobsearch-JobMetadataHeader icl-...                Data Scientist
4  b'<ul><li>Location: USA \xe2\x80\x93 multiple ...                Data Scientist

## 1) *Clean:* Job Listings from indeed.com that contain the title "Data Scientist" 

You have `job_listings.csv` in the data folder for this module. The text data in the description column is still messy - full of html tags. Use the [BeautifulSoup](https://www.crummy.com/software/BeautifulSoup/bs4/doc/) library to clean up this column. You will need to read through the documentation to accomplish this task.

In [ ]:
from bs4 import BeautifulSoup
import requests

# Cleaning Data Scientist Job Listings From Indeed
df['description'] = df['description'].apply(lambda x: ''.join(BeautifulSoup(x, 'html').stripped_strings).replace('\\n', " ").replace("b'", ""))
df.head()

#raise Exception("\nThis task is not complete. \nReplace this line with your code for the task.")

                                         description                         title
0  b"Job Requirements: Conceptual understanding i...               Data scientist
1  Job Description  As a Data Scientist 1, you wi...              Data Scientist I
2  As a Data Scientist you will be working on con...  Data Scientist - Entry Level
3  $4,969 - $6,756 a monthContractUnder the gener...                Data Scientist
4  Location: USA \xe2\x80\x93 multiple locations ...                Data Scientist

## 2) Use Spacy to tokenize the listings

In [ ]:
# Tokenizer 
import spacy.cli

nlp = spacy.cli.download('en_core_web_lg')
tokenizer = Tokenizer(nlp.vocab)

#raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_lg')

AttributeError: ignored

## 3) Use Scikit-Learn's CountVectorizer to get word counts for each listing.

In [ ]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## 4) Visualize the most common word counts

In [ ]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## 5) Use Scikit-Learn's tfidfVectorizer to get a TF-IDF feature matrix

In [ ]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## 6) Create a NearestNeighbor Model. Write the description of your ideal datascience job and query your job listings.

In [ ]:
##### Your Code Here #####
raise Exception("\nThis task is not complete. \nReplace this line with your code for the task."

## Stretch Goals

 - Try different visualizations for words and frequencies - what story do you want to tell with the data?
 - Scrape Job Listings for the job title "Data Analyst". How do these differ from Data Scientist Job Listings
 - Try and identify requirements for experience specific technologies that are asked for in the job listings. How are those distributed among the job listings?
 - Use a clustering algorithm to cluster documents by their most important terms. Do the clusters reveal any common themes?
  - **Hint:** K-means might not be the best algorithm for this. Do a little bit of research to see what might be good for this. Also, remember that algorithms that depend on Euclidean distance break down with high dimensional data.
 - Create a labeled dataset - which jobs will you apply for? Train a model to select the jobs you are most likely to apply for. :)